In [92]:

import pandas as pd
import numpy as np
import os

# visualize
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('figure', figsize=(8, 6))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

#from env import host, username, password, get_dbname_url


from pydataset import data

In [61]:
# 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets)
#containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [62]:
                                            #EXERCISES

# The end product of these exercise is a jupyter notebook (classification_exercises.ipynb) and a acquire.py file.
# The notebook will contain all your work as you move through the exercises.
# The acquire.py file should contain the final functions that acquire the data into a pandas dataframe.

# 1. Make a new repo called classification-exercises on both GitHub and within your codeup-data-science directory.
# This will be where you do your work for this module.

# 2. Inside of your local classification-exercises repo, create a file named .gitignore with the following contents:
#env.py
#.DS_Store
#.ipynb_checkpoints/
#__pycache__
#*.csv
# Add and commit your .gitignore file before moving forward.

# 3. Now that you are 100% sure that your .gitignore file lists env.py, create or copy your env.py file inside 
#.  of classification-exercises. Running git status should show that git is ignoring this file.

In [63]:

df_iris = data('iris')
df_iris.head(3)
#df=data('iris')
#iris

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [64]:
# . print the first 3 rows

df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [65]:
# . print the number of rows and columns (shape)
df.shape

(150, 5)

In [66]:
# . print the column names

df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [67]:
# . print the data type of each column

df.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [68]:
# . print the summary statistics for each of the numeric variables

df.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [69]:
# 5. Read the data from this google sheet into a dataframe, df_google.

# Grab the Google sheet url.

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [70]:
# Turn Google sheet address into a CSV export URL.

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [71]:
# Read in the data using the pandas `pd.read_csv()` function.

df_google = pd.read_csv(csv_export_url)

In [72]:
# . print the first 3 rows

df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [73]:
# . print the number of rows and columns

df_google.shape

(891, 12)

In [74]:
# . print the column names

df_google.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [75]:
# . print the data type of each column

df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [76]:
# . print the summary statistics for each of the numeric variables

df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [77]:
# summary statistics for each of the numeric variables.

df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [78]:
# . print the unique values for each of your categorical variables

for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [79]:
# 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). 
#.   Read the downloaded file into a dataframe named df_excel.

#pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')
#df_exel = pd.read_excel('Excel_Exercises')

In [80]:
df_excel = pd.read_excel('Excel_Exercises.xlsx')
df_excel.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803.0,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450.0,8.0500,NaN,S

In [81]:
# . assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel.head(100)

In [82]:
df_excel_sample.shape

(100, 12)

In [83]:
# . print the number of rows of your original dataframe

df_excel.shape[0]

891

In [84]:
# . print the first 5 column names

df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [85]:
# . print the column names that have a data type of object

df_excel.select_dtypes(include='object').head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803.0,C123,S
4,"Allen, Mr. William Henry",male,373450.0,NaN,S

In [86]:
# . compute the range for each of the numeric variables.

df_excel.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

                                                   Exercises
The end product of this exercise should be the specified functions in a python script named prepare.py. 
Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import our own acquire module
import acquire

Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.

In [106]:
# get iris data
df = acquire.get_iris_data()

In [107]:
# view first few rows
df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [108]:
df.shape

(150, 7)

2. Drop the species_id and measurement_id columns.

In [109]:
df = df.drop(columns = ['species_id', 'measurement_id'])
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa
3           4.6          3.1           1.5          0.2       setosa
4           5.0          3.6           1.4          0.2       setosa

3. Rename the species_name column to just species.

In [112]:
df = df.rename(columns = {"species_name":"species"})
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice,
 we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [113]:
def clean_data(df):
    '''
    This function will clean the data...
    '''
    df = df.drop(columns='species_id')
    df = df.drop(columns='measurement_id')
    df = df.rename(columns = {'species_name': 'species'})

    dummy_df = pd.get_dummies(df[['species']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    df = df.drop(columns=['species'])

    return df

In [115]:
# get iris data
df1 = acquire.get_iris_data()

In [116]:
clean_data(df1)

,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0
5,5.4,3.9,1.7,0.4,0,0
6,4.6,3.4,1.4,0.3,0,0
7,5.0,3.4,1.5,0.2,0,0
8,4.4,2.9,1.4,0.2,0,0
9,4.9,3.1,1.5,0.1,0,0
10,5.4,3.7,1.5,0.2,0,0
11,4.8,3.4,1.6,0.2,0,0
12,4.8,3.0,1.4,0.1,0,0
13,4.3,3.0,1.1,0.1,0,0
14,5.8,4.0,1.2,0.2,0,0
15,5.7,4.4,1.5,0.4,0,0
16,5.4,3.9,1.3,0.4,0,0
17,5.1,3.5,1.4,0.3,0,0
18,5.7,3.8,1.7,0.3,0,0
19,5.1,3.8,1.5,0.3,0,0
20,5.4,3.4,1.7,0.2,0,0
21,5.1,3.7,1.5,0.4,0,0
22,4.6,3.6,1.0,0.2,0,0
23,5.1,3.3,1.7,0.5,0,0
24,4.8,3.4,1.9,0.2,0,0
25,5.0,3.0,1.6,0.2,0,0
26,5.0,3.4,1.6,0.4,0,0
27,5.2,3.5,1.5,0.2,0,0
28,5.2,3.4,1.4,0.2,0,0
29,4.7,3.2,1.6,0.2,0,0
30,4.8,3.1,1.6,0.2,0,0
31,5.4,3.4,1.5,0.4,0,0
32,5.2,4.1,1.5,0.1,0,0
33,5.5,4.2,1.4,0.2,0,0
34,4.9,3.1,1.5,0.2,0,0
35,5.0,3.2,1.2,0.2,0,0
36,5.5,3.5,1.3,0.2,0,0
37,4.9,3.6,1.4,0.1,0,0
38,4.4,3.0,1.3,0.2,0,0
39,5.1,3.4,1.5,0.2,0,0
40,5.0,3.5,1.3,0.3,0,0
41,4.5,2.3,1.3,0.3,0,0
42,4.4,3.2,1.3,0.2,0,0
43,5.0,3.5,1.6,0.6,0,0
44,5.1,3.8,1.9,0.4,0,0
45,4.8,3.0,1.4,0.3,0,0
46,5.1,3.8,1.6,0.2,0,0
47,4.6,3.2,1.4,0.2,0,0
48,5.3,3.7,1.5,0.2,0,0
49,5.0,3.3,1.4,0.2,0,0
50,7.0,3.2,4.7,1.4,1,0
51,6.4,3.2,4.5,1.5,1,0
52,6.9,3.1,4.9,1.5,1,0
53,5.5,2.3,4.0,1.3,1,0
54,6.5,2.8,4.6,1.5,1,0
55,5.7,2.8,4.5,1.3,1,0
56,6.3,3.3,4.7,1.6,1,0
57,4.9,2.4,3.3,1.0,1,0
58,6.6,2.9,4.6,1.3,1,0
59,5.2,2.7,3.9,1.4,1,0
60,5.0,2.0,3.5,1.0,1,0
61,5.9,3.0,4.2,1.5,1,0
62,6.0,2.2,4.0,1.0,1,0
63,6.1,2.9,4.7,1.4,1,0
64,5.6,2.9,3.6,1.3,1,0
65,6.7,3.1,4.4,1.4,1,0
66,5.6,3.0,4.5,1.5,1,0
67,5.8,2.7,4.1,1.0,1,0
68,6.2,2.2,4.5,1.5,1,0
69,5.6,2.5,3.9,1.1,1,0
70,5.9,3.2,4.8,1.8,1,0
71,6.1,2.8,4.0,1.3,1,0
72,6.3,2.5,4.9,1.5,1,0
73,6.1,2.8,4.7,1.2,1,0
74,6.4,2.9,4.3,1.3,1,0
75,6.6,3.0,4.4,1.4,1,0
76,6.8,2.8,4.8,1.4,1,0
77,6.7,3.0,5.0,1.7,1,0
78,6.0,2.9,4.5,1.5,1,0
79,5.7,2.6,3.5,1.0,1,0
80,5.5,2.4,3.8,1.1,1,0
81,5.5,2.4,3.7,1.0,1,0
82,5.8,2.7,3.9,1.2,1,0
83,6.0,2.7,5.1,1.6,1,0
84,5.4,3.0,4.5,1.5,1,0
85,6.0,3.4,4.5,1.6,1,0
86,6.7,3.1,4.7,1.5,1,0
87,6.3,2.3,4.4,1.3,1,0
88,5.6,3.0,4.1,1.3,1,0
89,5.5,2.5,4.0,1.3,1,0
90,5.5,2.6,4.4,1.2,1,0
91,6.1,3.0,4.6,1.4,1,0
92,5.8,2.6,4.0,1.2,1,0
93,5.0,2.3,3.3,1.0,1,0
94,5.6,2.7,4.2,1.3,1,0
95,5.7,3.0,4.2,1.2,1,0
96,5.7,2.9,4.2,1.3,1,0
97,6.2,2.9,4.3,1.3,1,0
98,5.1,2.5,3.0,1.1,1,0
99,5.7,2.8,4.1,1.3,1,0
100,6.3,3.3,6.0,2.5,0,1
101,5.8,2.7,5.1,1.9,0,1
102,7.1,3.0,5.9,2.1,0,1
103,6.3,2.9,5.6,1.8,0,1
104,6.5,3.0,5.8,2.2,0,1
105,7.6,3.0,6.6,2.1,0,1
106,4.9,2.5,4.5,1.7,0,1
107,7.3,2.9,6.3,1.8,0,1
108,6.7,2.5,5.8,1.8,0,1
109,7.2,3.6,6.1,2.5,0,1
110,6.5,3.2,5.1,2.0,0,1
111,6.4,2.7,5.3,1.9,0,1
112,6.8,3.0,5.5,2.1,0,1
113,5.7,2.5,5.0,2.0,0,1
114,5.8,2.8,5.1,2.4,0,1
115,6.4,3.2,5.3,2.3,0,1
116,6.5,3.0,5.5,1.8,0,1
117,7.7,3.8,6.7,2.2,0,1
118,7.7,2.6,6.9,2.3,0,1
119,6.0,2.2,5.0,1.5,0,1
120,6.9,3.2,5.7,2.3,0,1
121,5.6,2.8,4.9,2.0,0,1
122,7.7,2.8,6.7,2.0,0,1
123,6.3,2.7,4.9,1.8,0,1
124,6.7,3.3,5.7,2.1,0,1
125,7.2,3.2,6.0,1.8,0,1
126,6.2,2.8,4.8,1.8,0,1
127,6.1,3.0,4.9,1.8,0,1
128,6.4,2.8,5.6,2.1,0,1
129,7.2,3.0,5.8,1.6,0,1
130,7.4,2.8,6.1,1.9,0,1
131,7.9,3.8,6.4,2.0,0,1
132,6.4,2.8,5.6,2.2,0,1
133,6.3,2.8,5.1,1.5,0,1
134,6.1,2.6,5.6,1.4,0,1
135,7.7,3.0,6.1,2.3,0,1
136,6.3,3.4,5.6,2.4,0,1
137,6.4,3.1,5.5,1.8,0,1
138,6.0,3.0,4.8,1.8,0,1
139,6.9,3.1,5.4,2.1,0,1
140,6.7,3.1,5.6,2.4,0,1
141,6.9,3.1,5.1,2.3,0,1
142,5.8,2.7,5.1,1.9,0,1
143,6.8,3.2,5.9,2.3,0,1
144,6.7,3.3,5.7,2.5,0,1
145,6.7,3.0,5.2,2.3,0,1
146,6.3,2.5,5.0,1.9,0,1
147,6.5,3.0,5.2,2.0,0,1
148,6.2,3.4,5.4,2.3,0,1
149,5.9,3.0,5.1,1.8,0,1

In [120]:
df1.shape

(150, 7)

In [123]:
# split data into train,validate and test
df1.head(5)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [124]:
#Test is 20%
#Train is 80%

#Train validate is now 80% of our data, validate 25% and then Train 75%

train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.species)
train,validate = train_test_split(train,test_size = .25, random_state = 123, stratify = train.species )

5.Create a function named prep_iris that accepts the untransformed iris data, and returns the data with 
the transformations above applied.